:root {
  --color-background: #fcfcfc;
  --color-background-secondary: #f3f3f3;
  --color-foreground: #ffffff;
  --color-border: #e6e6e6;
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-text-secondary: #717171;
  --color-text-invert: #ffffff;
  --color-text-link: #4ec3f5;
  --color-branding: #3d5af1;
  --color-branding-transparent: #3d5af140;
  --color-cool-blue: hsl(224, 98%, 58%);

  --color-alert: #ff304f;
  --color-success: #45b81f;
  --color-on-hover: #0000000f;

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  --box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;

  --radius: 4px;
  --radius-2: 8px;
}

html,
body {
  background: var(--color-background);
  color: var(--color-text-body);
}

#root {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

#sidebar {
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#sidebar > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cool-blue {
  color: hsl(224, 98%, 58%);
}

.nordic-blue {
  color: rgb(94, 117, 153);
}

/* reddit logo */
h1 > img {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

#sidebar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
}

#sidebar > div form {
  position: relative;
}

#sidebar > div form input[type="search"] {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

#sidebar > div form input[type="search"].loading {
  background-image: none;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 3s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar nav a span {
  float: right;
  color: #eeb004;
}
#sidebar nav a.active span {
  color: inherit;
}

i {
  color: #818181;
}
#sidebar nav .active i {
  color: inherit;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#sidebar li {
  font-size: 1rem;
  margin: 5px 5px;
}

#sidebar nav a {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  overflow: hidden;
  white-space: pre;
  padding: 3px 10px;
  background-color: white;
  border: 1px solid var(--color-cool-blue);
  border-radius: 8px;
  color: var(--color-cool-blue);
  text-decoration: none;
  gap: 1rem;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}

p {
  margin: 0;
}

/* RESPONSIVE DESIGN ===================================== */

@media only screen and (max-width: 480px) {
  /* hide element on small screens */
  .hide {
    display: none !important;
  }
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  margin-left: 25vw;
  background: whitesmoke;
}
#header h1 {
  color: rgb(60, 60, 60);
}
#reddit-logo {
  height: 30px;
  width: auto;
  margin: 10px;
}
#sidebar {
  position: absolute;
  width: 25vw;
  height: 100vh;
  z-index: 2;
}
#menu-button, 
#close-button {
  color: var(--color-cool-blue);
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
}
#feed {
  position: absolute;
  display: block;
  margin-left: 25vw;
  margin-top: 80px;
  width: 75vw;
  height: 80vh;
  float: right;
  background: whitesmoke;
}

/* small screens */
@media only screen and (max-width: 480px) {
  #header {
    height: 10vh;
    margin-left: 0;
  }
  #menu-button {
  margin-left: 20px;
  }
  #sidebar {
    width: 85vw;
  }
  #feed {
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    margin-left: 0;
    padding: 1rem;
  }
}

/* MED & UP SCREENS */
@media only screen and (min-width: 481px) {
  #menu-button,
  #close-button {
    display: none;
  }
  #feed {
    padding: 1rem 3rem 1rem 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  #header {
    margin-left: 0;
  }
  #feed {
    padding: 1rem 25vw 1rem 1rem;
  }
}